{% extends 'base.html' %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input id="new_message" type="text" name="new_message" maxlength="150" required>
        <button class="button is-success is-static">
            Send
        </button>
    </form>
    
{% endblock content %}